[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adrf = "*"
asyncio = "*"
aiofiles = "*"
django = "*"
djangorestframework = "*"
httpx = "*"
loguru = "*"
psycopg = "*"
psycopg2-binary = "*"
pydantic = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-django = "*"
pytest-env = "*"
uvicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.12"
